/*public*/
@import url(/fontface?roboto-regular);
*{padding:0;margin:0;}
body{padding:0;margin:0;color:#333;font-family:roboto-regular,Arial, Helvetica, sans-serif;font-size:12px;}
input{ font-family:roboto-regular,"Î¢ÈíÑÅºÚ","Microsoft Yahei",Arial,sans-serif; }
*:focus {outline: none;}
textarea {resize:none;font-family:roboto-regular,"Î¢ÈíÑÅºÚ","Microsoft Yahei",Arial,sans-serif;}
a{text-decoration:none;color:#666; font-size:12px;}
a:hover{color:#fd7402; text-decoration:underline;}
img{border:none; vertical-align:middle;}
h1, h2, h3, h4 {font-size: 100%; font-weight: normal;}
ul,li,dl,dd,dt,p{padding:0;margin:0;list-style:none;}
input.input_text,select,textarea{font-family:Arial, Helvetica, sans-serif; border:1px solid #bbb; border-bottom:1px solid #ddd; border-right:1px solid #ddd; font-size:12px;font-family:roboto-regular,"Î¢ÈíÑÅºÚ","Microsoft Yahei",Arial,sans-serif;}
.clear{clear:both;}
/*container*/
#container {margin: 0 auto;}
/*head*/
.headerbg{border-bottom: #E2E2E2 solid 1px; background:#f9f9f9;height:30px; line-height:30px; clear:both;}
#tophead{margin:0 auto;width:1000px; clear:both; height:30px;overflow:hidden;}
#tophead ul{float:left;color:#d7d7d7; margin-right:14px; color:#888;}
#tophead ul li{float:left;line-height:30px;position:relative;z-index:10;}
#tophead ul a{color:#333;padding:0 7px;display:inline-block; text-decoration:none;}
#tophead ul a:hover{text-decoration:underline;}
#tophead ul .list a{background:url(images/bg.gif) right -143px no-repeat;padding-right:15px;}
#tophead ul .favorite{background:url(images/bg.gif) left -153px no-repeat;padding-left:16px;margin-left:3px;}
#tophead .top_search{float:right; padding-top:3px; margin-right:270px; display:inline;}
#tophead .top_search input{width:240px;height:22px;line-height:22px;vertical-align:middle;border:#ddd solid 1px; float:right; color:#888; text-indent:2px;}
#tophead .top_search a{height:22px;line-height:22px;color:#fff;text-align:center;font-weight:bold;float:right;width:50px;background:#f90;border:#f90 solid 1px;} 
#tophead .top_search a:hover{ text-decoration:none;background:#f60}
#tophead ul .on{line-height:30px;background:#ccc;}
#tophead ul .on a{padding-right:15px;}
#tophead ul li .list_box{display:none;position:absolute;top:30px;left:0;border:1px solid #ddd;background:#fff;z-index:-1; width:126px; border-top:none;}
#tophead ul li .list_box a{color:#333333;line-height:23px;white-space:nowrap; padding:0;}
#tophead ul li .list_box a:hover{text-decoration:none;}
#tophead ul li .list_box dl dd{background:#fff;line-height:22px; padding:0 10px;}
#tophead ul li .list_box dl dd.list_on{background:#e8e8e8;}
.head ul li .flag dl dd{padding-left:7px;}
#tophead ul li .flag dl dd a{background:url(images/flag.gif) no-repeat;padding-left:26px;}
#tophead ul li .flag dl dd a.english{background-position:left -8px;}
#tophead ul li .flag dl dd a.deutsch{background-position:left -36px;}
#tophead ul li .flag dl dd a.Spanish{background-position:left -65px;}
#tophead ul li .flag dl dd a.french{background-position:left -96px;}
#tophead ul li .flag dl dd a.italian{background-position:left -129px;}
#tophead ul li .flag dl dd a.portuguese{background-position:left -160px;}
#tophead ul li .flag dl dd a.japanese{background-position:left -194px;}
#tophead ul li .flag dl dd a.korean{background-position:left -226px;}
#tophead ul li .flag dl dd a.arabic{background-position:left -259px;}
#tophead ul li .flag dl dd a.russian{background-position:left -291px;}
#tophead ul li .flag dl dd a.china{background-position:left -323px;}
#tophead ul li .flag dl dd a.china2{background-position:left -323px;}
#tophead ul li .flag dl dd a.Turkey{background-position:left -356px;}
#tophead ul li .flag dl dd a.Indonesia{background-position:left -387px;}
#header{ position:relative;}
#logo{height:90px;width:1000px; margin:0 auto;}
.vv_member{float:right; display: inline;position:absolute;z-index: 22;right: 212px;top: -1px;}
.year2 {color: #FFFFFF; float: right; left: 110px; position: absolute; top: 33px; font-size:12px;}
#logo .box1{font-size:20px; float:left; margin:20px 0 0 6px; width:730px;}
#logo .box1 a{margin-right:16px; float:left;}
#logo .box1 span{position:relative; width:560px; font-weight:bold; line-height:20px; padding-top:18px; float:left;}
#logo .box2{float:right; margin-right:12px; margin-top: 60px; display:inline;}
#nav{height:30px; line-height:30px;}
.navbg{width:1000px;margin:0 auto; height:36px;line-height:36px;background:#888;}
.navbg ul{padding-left:12px;}
.navbg ul li{float:left; height:35px; line-height:35px;border-right:1px solid #888;}
.navbg ul li:last-child{border:0;}
.navbg ul li a{color:#f0f0f0;font-size:14px;font-weight:bold;display:inline;padding:0 15px;outline-style:none;}
.navbg ul li a:hover{color:#fff; text-decoration:none;}
.navbg ul li.on{background:#fff; height:36px;line-height:36px;display:inline; padding:0; border:1px solid #d5d5d5; border-bottom:0; margin-top:-2px; border-top:2px solid #f60;}
.navbg ul li.noneline{border-right:0;}
.navbg ul li.on a{color:#f60;font-weight:bold;}
.navbg ul li.on a:hover{color:#f60;}

/*banner*/
#banner{margin:8px 0 0;}

/*quickBar*/
#quickBar{color:#333;height:30px;line-height:30px;width:1000px;margin:0 auto;padding:5px 0 0 3px;clear:both;}
#quickBar a{margin:0 3px; color:#06c;}
/*content*/
#content{ width:1000px; margin:0 auto; clear:both;}
.contentbg{margin-top:10px;}
#sidebar {float: left; width: 220px;}
#search{margin-bottom:10px; float:left;}
#main {float: right; width: 770px; margin-bottom:20px;}
.input1 {float:left;width:187px;}
.input2 {float: right; width: 26px;}
.search_text{border:#ddd solid 1px;color:#666;height:28px;text-indent:5px;line-height:28px;overflow: hidden;width:186px; font-size:12px;}
.search_submit {background:url(images/search.jpg) no-repeat 0 0; border: medium none; height:30px; width:32px; cursor:pointer;}
.left_fp{float:left; height:30px; line-height:30px; font-size:13px;width:218px; background-color:#f0f0f0; border:1px solid #ddd;}
.left_fp a, .left_cprofile a, .left_certi a, .left_product span.h2bg a{font-size:14px;padding-left: 10px; text-decoration: none; display:block; color:#333;}
.left_fp a:hover, .left_cprofile a:hover, .left_certi a:hover, .left_product h3 a:hover{color:#fd7402;}
.left_cprofile, .left_certi,.left_product span.h2bg{float:left; height:30px; line-height:30px; width:218px; background-color:#f0f0f0; border:1px solid #ddd; border-top:0;}
.left_product span.h2bg{ background:#f0f0f0 url(images/bg.gif) no-repeat -87px -190px; font-weight:bold;}

.left_product ul li.secondmenu.pro_on{background-color:#f5f5f5;box-shadow: 0px 0px 2px #ccc; cursor:pointer;}
.left_product ul li.secondmenu.pro_on a{color:#f60;}
.left_product ul li.secondmenu.pro_on .thirdlist a h2{font-weight:normal;color:#333;}
.left_product ul li.secondmenu.pro_on .thirdlist a:hover{color:#333;}
.left_product .secondlist{float:left; border:1px solid #ddd; border-top:0; width:218px;}
.secondlist li{line-height:30px; float:none; position:relative; clear:right; z-index:1000; width:208px; display:block; padding:0 0 0 10px;}
.secondlist li h2{display:inline; font-size:12px;}
.secondlist li.secondmenu{background:url(images/bg.gif) no-repeat -83px -224px; border-bottom:1px solid #eee;}
.secondlist li.secondmenu a,.secondlist li.secondmenu_no a{line-height:18px;}
.secondlist li a:hover{ color:#f60;text-decoration:underline;}
.secondlist li a:hover h2{font-weight:bold;}
.secondlist span{color:#888; margin-left:2px;}

.secondlist li .thirdlist li a{width:200px; line-height:14px; overflow:hidden; height:inherit;}

.thirdlist{position:absolute; left:-99999px; top:-1px; width:216px; background-color:#f5f5f5; border:1px solid #d5d5d5;padding:5px 0; min-height:120px; height:auto!important; height:120px; z-index:99999; float:left; margin:0;box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.13); border-left:none;}
.thirdlist li{float:none; clear:right; width:200px; display:block; padding:4px 8px; height:auto; line-height:14px; overflow:hidden;}

.left_product ul li.pro_on .thirdlist{left:216px;}


.message{float:left; margin:10px 0; width:220px;}
.mes_title{background:#f0f0f0; height:30px; line-height:30px; text-indent:10px;color:#333;font-size:14px;border:1px solid #ddd;border-bottom:none;}
.mes_line{width:218px; margin:0 auto; height:1px; overflow:hidden;}
.mes_cont{border:1px solid #d5d5d5; background-color:#fafafa; padding:6px 9px;}
.mes_c_t{height:24px; line-height:24px; text-indent:10px; background-color:#e4eaf9; border:1px solid #d5d5d5; border-bottom:0;font-size:11px; font-weight:bold; width:218px;}
.mes_text{ border:1px solid #e5e5e5; width:198px; height:24px; line-height:24px; text-indent:3px; color:#888; font-size:11px;}
.mes_box{margin:5px 0; float:left; width:198px;}
.mes_box .images{float:left; width:48px; border:1px solid #e5e5e5;}
.mes_box .nameTel{float:left; line-height:18px; padding:6px 0 6px 4px; font-size:11px; width:144px; overflow:hidden;}
.mes_box .nameTel .n strong,.tels{float:left; margin-left:2px;}
.mes_cont textarea{width:182px; height:72px; border:1px solid #e5e5e5; font-size:11px; line-height:18px; padding:4px 8px; color:#888;}
a.mes_send{background-color:#f90;width:40px; height:23px; display:block; float:right; margin:6px 0 3px; line-height:23px; font-weight:bold; color:#fff; text-align:center; border-radius:2px; font-size:12px;}
a.mes_send:hover{color:#fff; background:#f60; text-decoration:none;}
.scanned{float:left;}
.scanned .left_fp span{ padding-left:10px;}
.sca_product{border:1px solid #d5d5d5; border-top:0; float:left; width:218px; padding:0 0 5px;}
.scanned li{float:left; margin:8px 0 0 12px; display:inline;}
.scanned li img{background-color:#f2f6fa;}

.tradevv{ text-align:center; margin:20px 0 30px; float:left; width:220px;}

/*content right*/
.websitebg{ border-top:1px solid #ddd; padding:18px 10px 22px; margin:1px 0; background-color:#f9f9f9;}
#website .webh2bg {color: #333333; font-size: 12px; font-weight:bold; line-height: 22px;}
#website .webi{width:710px; float:left;}
#website .box1{float:right; position:relative; width:229px;}
#website .box2 {float: left; overflow: hidden; width: 460px; padding-top:1px;}
#website .box2 p{line-height:18px; color:#666; font-size:11px;}
#website .webi img{overflow: hidden; width: 225px; border:1px solid #ddd; float:right; padding: 1px;}
#website .page,.right_comfile .page{left:156px; position:absolute; top:202px;}
.right_comfile .box1{position:relative;}
.page a {background:#fff; display: block; float:right; height:14px; margin-right: 1px; text-align: center; width: 14px; -moz-border-radius:2px;
}
.page {clip: rect(-20px, auto, auto, auto);float: right;font-size: 10px;left: 3px;overflow: hidden;position: relative;text-align: right;
    top: 9px;width: 65px;}
* + html .page a {background:#fff; display: block;float: right;height: 14px;line-height: 13px;margin-right: 1px;text-align: center;width: 14px;}
.page a:hover {color: #777;text-decoration: none;}
.page .on {background:#fd7402;color: #FFFFFF;display: block;float: right;height: 14px;margin-right: 1px;text-align: center;width: 14px;}
.page .on a {color:#FFFFFF;}
.page .on a:hover {color:#FFFFFF;}
* + html .page .on {background:#fd7402;display: block; float: right; height: 14px;line-height: 13px;margin-right: 1px; text-align: center; width: 14px;}

#website .more{background:url(images/bg.gif) no-repeat 0 -227px; padding-left:8px; width:60px; margin:5px 0;}
#website .more a{text-decoration:underline; color:#333;}
#website .more a:hover{color:#fd7402; text-decoration:underline;}
#website .contact_s{background:url(images/page_bgs.gif) no-repeat 0 -49px; width:156px; height:32px; display:block; float:left; margin-top:6px;}

.right_ts{height:28px; line-height:28px;border-bottom: #b9b9b9 solid 2px;}
#featuredProducts .f_title{float:left; text-indent:10px;font-size:18px;}
#featuredProducts .geng{float:right; padding-right:10px;}
#featuredProducts .geng a{background:url(images/bg.gif) no-repeat 0 -227px; padding-left:8px; text-decoration:underline;}

.produce{display:block; float:left; width:170px;padding: 20px 10px 4px 10px;}
.produce .image a{display:block; border:1px solid #e5e5e5; width:165px; height:165px;}
.produce .image a:hover{border:1px solid #ccc;box-shadow:1px 2px 2px #ccc;}
.produce .name{height:28px; line-height:14px; overflow:hidden; margin-top:5px;}
.produce .name a{color:#666;}
.adv{ width:960px; height:80px; float:left;}
.spotight{border:1px solid #d5d5d5; border-top:1px solid #415484; margin-top:10px; padding:5px 10px 8px; float:left; width:938px;}
.spotight .spp_t{ height:24px; line-height:24px; font-size:12px; font-weight:bold;}
.spotight li{float:left; line-height:18px; width:24.5%;}
.spotight li a{background:url(images/bg.gif) no-repeat 0 -262px; padding-left:8px;}

/*footer*/
#footer{ background:#eaeaea;overflow: hidden;border-top:#ddd solid 1px; clear:both;}
.foot_content{text-align:center; width:100%; margin:12px 0 8px; float:left; display:inline;}
#subNav,.f_hotproduct{color:#aaa;}
#subNav a{padding:0 5px; color:#333;}
#subNav a:hover{color:#fd7402;}
.f_hotproduct{margin:5px 0;}
.f_hotproduct a{padding:0 5px; color:#666;}
.f_hotproduct a:hover{color:#000;}

#copyright{color:#888;}
.footerTags{color:#666; padding:5px 0; display:block;}
/*list*/
.reveal .buttonContactNow{background:url(images/page_bgs.gif) no-repeat 0 -309px; display:block; width:90px; height:20px; margin-right:16px;}

.reveal{float:left; width:100%; height:28px; overflow:hidden;}
.reveal .select{float:left; height:22px; line-height:22px; padding:2px 0; width:40%;}
.reveal .select input, .reveal .select a{float:left; display:inline;}
#check, #Checkbox2{margin:4px 20px 0 12px; *margin-top:0;}
.reveal .select a.buttonAddbasket{font-weight:bold; background:url(images/page_bgs.gif) no-repeat 0 -111px; padding-left:18px; color:#333;}
.reveal .select a.buttonAddbasket:hover{color:#fd7402;}
.reveal .showType{float:right; color:#666; height:22px; line-height:22px; padding:2px 6px 2px 0; display:inline;}
.reveal .showType a.list{margin:0 6px 0 4px;}
.viewGallery{margin-right:24px; display:inline;}
select#Pcount{font-size:11px; margin:0 2px;}


.bulky .box5{display:block; float:left; width:150px; padding:16px 6px 4px 22px;  _padding:16px 6px 4px 10px;}
.bulky .box5 .placeholders a{display:block; border:1px solid #e5e5e5;  overflow:hidden;}
.bulky .box5 .placeholders a:hover{border:1px solid #888;}
.bulky .box5 .box2{line-height:14px; overflow:hidden; margin:2px 0 8px; float:left; width:162px;}
.bulky .box5 .box2 a{color:#415484;}
.bulky .box5 .box2 a:hover{ text-decoration:underline;}
.bulky .box5 .box3{margin:5px 0; float:left; width:18px;}
.placeholders{float:left;}

#pre_next{float:left; width:100%; margin:12px 0; height:24px; line-height:24px;}
#inputpage{width:28px; text-align:center; font-size:11px;}
#btngo_1{font-size:11px; font-weight:bold; cursor:pointer; width:24px;}
.nextli_r{float:right; color:#666; margin-right:4px;}
.nextli_l{float:left; width:60%;}
#digg .disabled {color: #666666; float: left; padding: 0 6px;}
#digg .disabled a:hover{text-decoration:underline;}
.disabled .pager_2{color:#aaa;}
#digg .last a:hover {text-decoration:underline;}
#digg .dd {display: block; float: left;}
#digg .last a {display: block; float: left; margin: 0 2px; padding:0 3px; text-align:center;}
#digg .last{float:left;}
#digg .pagerbj a{font-weight:bold; color:#000;}

.list2{float:left; border-bottom:1px dotted #ccc; padding:10px 0; width:100%;}
.list2:hover{box-shadow: 2px 2px 2px #ccc;}
.nobg{background-color:#f0f0f0;}
.list2 .box1{float:left; margin:0 8px; display:inline;}
.list2 .box1 a{display:block; border:1px solid #e9e9e9; width:100px; height:100px; overflow:hidden;}
.list2 .box1 a:hover{border:1px solid #888;}
.list2 .box2{float:left; width:610px; position:relative;}
.list2 .box2 h3{color:#888; line-height:22px;font-size:12px; width:450px;}
.list2 .box2 h3 a{color:#06c; font-size:14px;}
.list2 .box2 h3 a:hover{text-decoration:underline;}
.list2 .description{ color:#888; margin:8px 0; width:450px; float:left;}
.list2 .box2 .re_key{width:450px; float:left;}
.list2 .box2 .re_key a{margin-left:6px;}
.list2 .box2 .re_key a:hover{text-decoration:underline;}
.contactWay a.buttonContactNow{ float:right; background: url(images/page_bgs.gif) no-repeat 0 -83px; width:108px; height:24px;}
.list2 .box2 .listBox_date{position:absolute; top:5px; right:2px; color:#999;}

.list2 .box3{ float:left; margin:7px 4px 0 14px; display:inline; *margin-top:3px;}

/*details*/
.ProductGroup{width:100%; height:110px; background-color:#fff; border-top:1px solid #aaa; border-bottom:1px solid #aaa;}

.page_on {position: relative;z-index: 5;}
.page_on a{position:absolute; top:40px; width:18px; height:18px; bblr:expression(this.onFocus=this.blur()); outline-style:none;}
.page_on .left_no{background:url(images/greyleft.gif) no-repeat; left:0;}
.page_on .left{background:url(images/blackleft.gif) no-repeat; left:0;}
.page_on .right_no{background:url(images/greyright.gif) no-repeat; top:40px; right:0;}
.page_on .right{background:url(images/blackright.gif) no-repeat; top:40px; right:0;}
.album_content {height:110px;clear: both; margin: 0 auto; position: relative; width: 672px; z-index: 1;}
.contene_page ul li {float: left; padding:6px; text-align:center; width: 84px;}
.contene_page ul li a.inS_img{width:70px; height:70px; display:block;}
.contene_page a.inS_name{height:30px; overflow:hidden; display:block; color:#06c;}
.contene_page a.inS_name:hover{text-decoration:underline;}

.productDetailbg h2{width:100%;  line-height:40px;text-indent:3px; font-size:16px;color:#333;}
.detailImage{margin:0 0 0 10px; float:left;}
.detailImage .images a{display:block; border:1px solid #ddd; width:250px; height:250px;}
.detailImage a.buttonContactNow{background: url("images/page_bgs.gif") no-repeat 0 -83px; float: left; height: 24px; width: 108px;}
.detailImage .image_bot{ line-height:24px; margin:10px 0; float:left; font-weight:bold;}
.detailImage .image_bot a{margin-right:10px; color:#333;}
.detailImage .image_bot a:hover{color:#fd7402;}
a.addtofav{ background:url(images/page_bgs.gif) no-repeat 0 -270px; padding-left:20px; display:inline;}
.detailMain .detailImage{float:left; width:252px;}
.proinfo{background-color:#f5f5f5; padding:10px 0;width:780px;}

.detail_d, .detail_info{float:left; width:400px; margin-left:30px; margin-bottom:8px;}
.detail_d .detail_d_t, .detail_info .detail_d_t{height:24px; line-height:24px;color:#06c; text-indent:6px; font-weight:bold;}
#detail_table td{width:130px; height:20xp; line-height:20px;text-indent:3px; text-align:right;}
#detail_table td.table_t{color:#666; text-align:left; padding-left:10px; width:260px;}

.productPageNav{width:730px; text-align:center; height:30px; line-height:30px; margin:5px 0;}
.productPageNav a{padding:0 4px; color:#888;}
.productPageNav a:hover{color:#000; text-decoration:underline;}
.productPageNav .on{font-weight:bold; padding:0 4px; color:#000;}

#des_table{width:730px; border-top:1px solid #ddd; border-left:1px solid #ddd;}
#des_table th, #des_table td{width:25%; border-bottom:1px solid #ddd; text-align:left; border-right:1px solid #ddd; text-indent:4px; height:20px; line-height:20px;}
.description{margin:10px 0 30px;}
.description .desc_title{ height:26px; line-height:26px; border-bottom:1px solid #ddd; margin-bottom:10px; font-weight:bold; font-size:12px; color:#06c;}
.description .content table{border:1px solid #aaa;}
.description .content table td{border:1px solid #bbb; padding:2px; text-align:center; vertical-align:middle; line-height:14px;}
.description .content{line-height:22px; padding:3px; word-wrap:break-word; overflow:hidden; width:724px;}
.otherPro{margin-top:20px;}
#boxHeading{width:730px; height:24px; line-height:24px;}
#boxHeading ul li{border-bottom:2px solid #b9b9b9;white-space:nowrap;top:1px; position:relative; color:#06c; font-size:16px; line-height:30px;}
#boxHeading ul li.hover{background-color:#fff; color:#000;}
#boxHeading ul li a{color:#888;}
#boxHeading ul li.hover a:hover{text-decoration:underline;}
#boxHeading ul li.hover a{color:#000;}
#Content{float:left; margin-top:20px;}

#Content .ProductGroupBack{margin-left:3px;}
#Content .ProductGroupNext{margin-right:3px;}
a.buttonContactNow{background: url("images/page_bgs.gif") no-repeat 0 -83px; display:block; height: 24px; width: 108px;}
.centerBoxContents_rec .title a{color:#666; text-decoration:none;}
.centerBoxContents_rec .title a:hover{ text-decoration:underline;}
.centerBoxContents_rec li{float:left; padding:8px 0 8px 12px; width:108px;}
#Content .image a{display:block; border:1px solid #eaeaea; width:100px; height:100px;}
#Content .image a:hover{border:1px solid #888;}

#Content .title h3{height:24px; line-height:12px; margin:1px 0; overflow:hidden; display:block;}
#Content .contact{margin:5px 0 0; display:none;}

/*.com_left pre  span{ display:block;} */
/*about us*/
.right_comfile,.right_comfroile{float:left;}
.right_comfile{margin-bottom:12px;}
.ab_line01{height:28px; line-height:28px;border-bottom:2px solid #b9b9b9; text-indent:8px; color:#333; font-size:18px;}
.right_comfile .ab_line01{position:relative;}
.right_comfile .ab_line01 a{float:right; font-weight:normal; font-size:11px; right:8px; background:url("images/bg.gif") no-repeat 0 -222px; position:absolute; top:0;}
.com_left{padding:6px; width:470px; line-height:18px; color:#666; float:left;}
.com_right{float:right; margin:10px 10px 0 0;}
.right_comfile .box1 img{padding:1px; border:1px solid #ddd;}
.com_right a{color:#777;}
.com_right a:hover{color:#fd7402;}
.information{height:30px; line-height:30px; border-bottom:2px solid #b9b9b9; text-indent:8px; width:730px; font-size:18px; margin:20px 0 10px 0;}
.right_comfroile a{color:#f60; text-decoration:underline; display:inline-block;}
.right_comfroile a:hover{text-decoration:underline; color:#fd7402;}
.mation .lists{width:722px;border-bottom:1px dotted #ddd;padding-left:8px;}
.mation li{float:left; color:#666;}
.mation .lists .left{font-weight:bold;  width:200px;line-height:24px;}
.mation .lists .right{width:522px;line-height:24px;}

#contactUs .mation{padding:10px 0;}
#contactUs .mation li.right img{border:1px solid #ddd; margin:0 5px 5px 0;}
/*certificates*/
.cer_content{padding:10px 6px;position:relative; overflow:hidden;}
#cer_table{width:450px; margin:6px 0 30px;}
#cer_table .cer_t{width:20%; text-align:right; padding-right:10px; font-weight:bold; color:#666;}
#cer_table td{height:16px; line-height:16px;}
.cer_content .listBox_date{position:absolute; top:16px; right:30px; color:#999;}
.cer_img{width:718px; text-align:center; margin:0 0 20px;}
.chain a{text-decoration:underline;}
.chain{padding-left:280px; line-height:16px;}

#contactUs .mation .left{text-align:right; padding-right:30px; width:160px;}
#contactUs .mation .right a{font-weight:bold;}
#contactUs .mation a{color:#f60; text-decoration:underline;}
#contactUs .mation a:hover{color:#fd7402; text-decoration:underline;}
#contactUs .mation .last_list a{font-weight:normal;}

/*no products*/
.noResult{padding:6px 3px;}
.noResult_t{font-size:16px; font-weight:bold;}
.keywords{color:#fd7402; font-weight:bold;}
.narrow{margin:6px 0;}
.narrow li{padding-left:10px; background:url("images/bg.gif") no-repeat 0 -262px; padding-left:10px; margin-left:2px; height:16px; line-height:16px;}
.noResult a,.buy_lead a{color:#415484; text-decoration:underline;}
.noResult a:hover,.buy_lead a:hover{color:#fd7402; text-decoration:underline;}

/*certificates pro*/
#certi_pro ul{margin-top:3px;}
#certi_pro li{height:18px; line-height:18px;}
.inquiry_cont p{ line-height:22px; padding:6px; background:#f8f8f8;margin-bottom:10px;}
.inquiry_cont .note{height:30px; float:left; font-weight:bold;}

#inquiry_table{width:730px;}
#inquiry_table input,#inquiry_table select, #inquiry_table textarea{font-size:11px; padding:5px; color:#666; border-radius:3px;}
#inquiry_table td{line-height:30px; padding:2px 0;}
#inquiry_table .tableleft{text-align:right; padding-right:8px; width:160px; vertical-align:top; font-size:13px;}
.red{color:#F00;}
#inquiry_table #txtCerCode{width:60px; float:left;}
.code{float:left; margin-left:10px;}
#txtSendDesc{width:380px; height:100px;}
#inquiry_table #txtSendTitle,#inquiry_table #txtAddress{width:380px;}
#inq_select,#inquiry_table input.input_text{width:245px;}
.buy_lead{margin:50px 6px;}
.button_but{height:27px; display: inline; float: left; text-align:center;}
.button_but a{color:#fff;font-size:14px;}
.button_but a:hover{text-decoration:none; color:#fff;}
.send_jt{display:block; width:60px; line-height:27px; background:#f90; border-radius:3px; float:left; margin-right:5px;}
.send_reset{display:block; width:60px; line-height:27px; background:#0080e3;float:left;border-radius:3px;}
.send_jt:hover{ background:#f60;}
.send_reset:hover{ background:#06c;}

/*news*/
#newsPress{padding:8px 0;}
#newsPress .list li {line-height: 18px;width:710px; border-bottom:1px dotted #ddd; padding:6px 10px;}
#newsPress .list li span {color: #999; float: right; text-align: right;}
#newsPress .list li a {background:url("images/bg.gif") no-repeat 0 -261px; display: block; overflow: hidden; padding-left:12px; text-overflow: ellipsis; white-space: nowrap; width: 541px; color:#333;}
#newsPress .list li a:hover{text-decoration:underline;}
#newsList #digg{padding:10px 0; float:left;}

#Bronze{padding:5px 4px;}
#Bronze .Bronzes{color:#333; height:30px; font-size:16px; line-height:30px;}
#Bronze .biao{font-weight:bold;}
#Bronze .time{width:722px; height:24px; line-height:24px; color:#777; border-top:1px solid #ddd;}
#Bronze .time .times{float:right;}
#Bronze .matter{margin:10px 0; padding:2px;}
#Bronze .matter p{line-height:22px; color:#666;word-wrap:break-word; overflow:hidden;}
#Bronze .chain{margin-top:30px; padding-left:4px;}

/*other add*/
.rim {border:1px solid #d5d5d5;margin-bottom:10px;padding:6px 10px; line-height:18px;}
.rim_left {color: #333; float: left; width: 650px;}
.push_button .wordage {display: block; float: left; font-weight: bold; padding-right:6px;}
.box5 img{width:146px; height:146px;}
.box5 .contact{float:left;}

.add01{float:left; color:#333; margin-top:16px; margin-bottom:6px;}
.add01 a{color:#666; font-weight:bold;}
.add01 a:hover{ color:#fd7402;}
.add02{color:#666; padding:10px 0;}
.add02 span{font-weight:bold;}
.add03{margin-top:30px; float:left; color:#666; background-color:#f5f5f5; border:1px solid #eee; padding:6px 8px;}
.add03 span{font-weight:bold;}
.ftw{font-weight:bold;}

.seoTop_left {color: #888;float: left;height: 20px;line-height:20px;overflow: hidden;position: absolute;width: 852px; top:30px; display:none;}
.seoTop_left h1 {display: inline;font-size: 11px;font-weight: bold;margin: 0;padding: 0;}
.seoTop_left a {color: #888;text-decoration: underline;}
.seoTop_left a:hover {color: #f80;text-decoration: none;}
